<div class='wrapper'>
  <div id='slider'>
    <aside class='left slide'>
      <div class='switch'>
        <input id='left-center-controller' class='switch-input' type='checkbox'>
        <label for='left-center-controller' class='switch-paddle'>
          <span class='show-for-sr'>Change page</span>
          <span class='switch-active' aria-hidden="true">Readers</span>
          <span class='switch-inactive' aria-hidden="true">Back</span>
        </label>
      </div>
      <div class='outer'>
        <div class='inner'>
          <div class='row'>
            <div class='small-11 medium-9 large-7 small-centered columns'>
              <h1>Beyond The Unknown</h1>
              <p>
                <span class='hidden-text'>Lorem ipsum dolor sit amet, cu ubique partiendo quo, cum
                habeo iuvaret vivendum ex. Brute iuvaret perpetua ad vix, per ne
                labore latine noluisse, sea sint elitr sanctus ne. Dicta
                mediocrem ea vim. Est euismod aliquam expetendis ea. Sea in
                posse aliquam, vim quis epicuri definitionem cu, cum tantas
                vocent aliquando eu.</span>
              </p>
              <p>
                <span class='hidden-text'>Invenire honestatis eu mea, malis
                  ornatus legendos vix te, solum movet eloquentiam nec no. Cu
                  pri legimus lobortis aliquando, id vis wisi mazim. Ex quaestio
                  iracundia eam. Ei munere omnium est, nam ad nobis
                  mediocritatem.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <main class='center slide'>
      <nav class='controller'>
        <div class='expanded button-group'>
          <a data-slide-index='0' class='go-left button'>Readers</a>
          <a data-slide-index='2' class='go-right button'>Writers</a>
        </div>
      </nav>
      <div class='small-11 medium-9 large-7 small-centered columns'>
        <blockquote class='quote'>
          I have always imagined that Paradise will be a kind of library.
          <cite>Jorge Luis Borges</cite>
        </blockquote>

        <a href='https://shop.depnes.com' class='support-us button'>Support Us</a>

        <div class='logo'><img src='/public/imgs/logo.png'></div>

        <div class='cta input-group'>
          <form action='/' method='POST' novalidate>
            <input class='input-group-field' type='email' placeholder='Enter your email' name='email'>
            <div class='input-group-button'>
              <input type='submit' class='button' value='Sign up'>
            </div>
            <span class='input-group-label'>We're launching soon.
              Sign up to be the first to know!</span>
          </form>
        </div>
      </div>
    </main>

    <aside class='right slide'>
      <div class='switch'>
        <input id='center-right-controller' class='switch-input' type='checkbox'>
        <label for='center-right-controller' class='switch-paddle'>
          <span class='show-for-sr'>Change page</span>
          <span class='switch-inactive' aria-hidden="true">Back</span>
          <span class='switch-active' aria-hidden="true">Writers</span>
        </label>
      </div>
      <div class='outer'>
        <div class='inner'>
          <div class='row'>
            <div class='small-11 medium-9 large-7 small-centered columns'>
              <h1>Collective Excellence</h1>
              <p>
                <span class='hidden-text'>Lorem ipsum aliquando, id vis wisi
                  mazim. Ex quaestio iracundia eam. Ei munere omnium est, nam ad
                  nobis mediocritatem.</span>
              </p>
              <p>
                <span class='hidden-text'>Eu quo fugit appellantur, vix ei
                  voluptua facilisis tincidunt. Et usu agam idque detracto, has
                  at mucius referrentur definitiones est ea. Labore ceteros an
                  mea, nec dolorum nominati mnesarchum ne, laoreet ceteros
                  definitionem cu nam.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
